/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Typography */
body {
    font-family: 'Poppins', sans-serif;
    background: #282A2E;
}

.code-paragraph {
    color: #cfcccc;
}

.code-button a {
    background-color: #289BDE;
    border: 1px solid #289BDE;
}

.code-button:hover a {
    background-color: white;
    color: #289BDE;
    border: 1px solid #289BDE;
    transition: 0.3s ease-in-out;
}

/*------------
     Header
------------ */

/* Logo */

.code-logo span {
    color: #289BDE;
}

/* Nav */
.code-nav a {
    color: white;
}

.code-nav a:hover {
    color: #289BDE;
    transition: 0.3s ease-in-out;
}

.code-register {
    color: #289BDE;
    border: 1px solid #289BDE;
}

.code-register:hover {
    color: white;
    background: #289BDE;
    border: 1px solid #289BDE;
    transition: 0.3s ease-in-out;
}

/*-----------
    Main
----------- */
/* Slider */
.ovarley {
    filter: brightness(50%);
}

/* Courses */

/* Articles */
.content-wrapper {
    background: #202224;
}

/* Join Now */
.join-register {
    background: #289BDE;
}

.join-button {
    background: white;
    color: #289BDE;
    border: 1px solid white;
}

.join-button:hover {
    background: #289BDE;
    color: white;
    border: 1px solid white;
    transition: 0.3s ease-in-out;
}


/* Success */
.success-card,
.feedback-content {
    background: #202224;
}

/* Feedback */

.fa-star {
    color: #FBBF24;
}

#star {
    color: #cfcccc;
}

/* All Questions */


#question-bg {
    background-color: #202224;
    color: white;
    border: none;
}

#question-button {
    background: #289BDE;
}

/*----------- 
    Footer
---------- */
footer {
    background: #202224;
}

.social-icons i:hover {
    color: #289BDE;
    transition: 0.3s ease-in-out;
}